* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
    --primary-color: #00453A;
    --secondary-color: #fd8272;
    --brand-beige: #FFFAF1;

}

body {
    text-align: center;
}

header {
    width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.9rem;
   
    
}

header::before {
    content: "";
    width: 100vw;
    height: 108rem;
    background-color: #DCE9E2;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.tituloPrincipal {

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 130%;
    color: var(--primary-color);
    margin-bottom: 2rem;

    /* or 44px */
}

.subtitle {
    font-family: 'Segoe UI';
    font-size: 1.8rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 2rem;
    padding: 2.3rem;
    /* or 27px */

}

.signup {
    background-color: var(--secondary-color);
    margin-bottom: 5.2rem;
    border-radius: 40px;
    padding: 16px 32px;
    border-color: var(--secondary-color);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.4rem;
}

.signin {
    margin: 3rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: none;

}

.signin_link {
    text-decoration: none;
    font-weight: 500;
}

.stats {
    padding-block: 4rem;
    background: var(--brand-beige);
/* Primary Colors/brand-green-light */

    border: 1px solid #DCE9E2;
    border-radius: 1.5rem;
    
    margin-inline: auto;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat {
font-style: normal;
font-family: ;
font-weight: 700;
font-size: 4.8rem;
line-height: 130%;
padding-block: 3rem;
box-sizing: border-box;
/* or 62px */
}

.stat h3 {
    margin-top: 0rem;
}

.stat p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
/* identical to box height, or 24px */


/* Primary Colors/brand-green */

color: #00856F;

}


